@model List<webvitinh.Models.CartItem>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="section group">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Product's code</td>
                        <td>Product's name</td>
                        <td>Product's image</td>
                        <td>Product's quantity</td>
                        <td>Product's price</td>
                        <td>Total money</td>
                        <td>Total money</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product.Id</td>
                            <td>@item.Product.Name</td>
                            <td><img src="/imgaes_vitinh_2/@item.Product.Image" width="100" /></td>
                            <td><input type="text" class="txtQuantity" data-id="@item.Product.Id" value="@item.Quantity" /></td>
                            <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                            <td><a href="#" data-id="@item.Product.Id" class="btn-delete">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="section group">
        <div class="col-md-6">
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Receiver's name</label>
                    <input name="shipName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Receiver's mobile phone</label>
                    <input name="mobile" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Receiver's address</label>
                    <input name="address" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Receiver's email</label>
                    <input name="email" class="form-control" />
                </div>
                <button type="submit" class="btn">Check out</button>
            }
        </div>
    </div>
</div>

