@model List<Model.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Test local data product
}
<Environment include="Development">
    <script>
        var mydata = [
        @foreach (var item in Model)
            {
                @:{ id: '@item.Id', name: '@item.Name',price:"@item.Price",description: '@item.Price' + "$", categoryId: '@item.CategoryId', status:"@item.Status"},
            }
        ];


        $(document).ready(function () {
            $("#jqGrid").jqGrid({
                //url: "GetData",
                // we set the changes to be made at client side using predefined word clientArray
                datatype: "local",
                data: mydata,
                shrinkToFit: false,
                colModel: [
                    { key: true, label: 'id', name: 'id' },
                    { label: 'name', name: 'name', editable: true },
                    { label: 'description', name: 'description', editable: true },
                    { label: 'price', name: 'price', editable: true },
                    { label: 'categoryId', name: 'categoryId', editable: true },
                    { label: 'status', name: 'status', editable: true },
                ],
                loadonce: true,
                viewrecords: true,
                width: 1000,
                height: 600,
                rowNum: 30,
                rowList: [10, 15, 20, 30, 50],
                pager: "#jqGridPager"
            });
            $('#jqGrid').navGrid('#jqGridPager',
                // the buttons to appear on the toolbar of the grid
                { edit: true, add: true, del: true, search: true, refresh: false, view: false, position: "left", cloneToTop: false },
                // options for the Edit Dialog
                {
                    editCaption: "The Edit Dialog",
                    url: 'EditProductJson',
                    afterSubmit: function () {
                        $(this).jqGrid("setGridParam", { datatype: 'local' });
                        return [true];
                    },
                    beforeSubmit: function (postdata, form, oper) {
                        if (confirm('Are you sure you want to update this row?')) {
                            return [true, ''];
                        } else {
                            return [false, 'You can not submit!'];
                        }
                    },
                    closeAfterEdit: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Add Dialog
                {
                    url: "AddProductJson",
                    afterSubmit: function () {
                        $(this).jqGrid("setGridParam", {
                            datatype: 'local'
                        });
                        return [true];
                    },
                    closeAfterAdd: true,
                },
                // options for the Delete Dailog
                {
                    url: "DeleteProductJson",
                    beforeSubmit: function (postdata, form, oper) {
                        if (confirm('Are you wanna delete?')) {

                            return [true, ''];
                        } else {
                            return [false, 'You can not delete!'];
                        }
                    },
                    afterSubmit: function () {
                        $(this).jqGrid("setGridParam", {
                            datatype: 'local'
                        });
                        return [true];
                    },
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                });
        });
    </script>
</Environment>


@section jsFooter{
    <script src="~/admin/Admin/Scripts/jqGrid/grid.locale-en.js"></script>
    <script src="~/admin/Admin/Scripts/jqGrid/jquery.jqGrid.js"></script>
}

<table id="jqGrid" align="center"></table>
<div id="jqGridPager"></div>
<!--<input id="btn" type="button" value="Load data" />-->
